footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

footer .logo{
    cursor: pointer;
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    margin-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin-bottom: 8px;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    margin-right: 4px;
}

footer .follow i:hover{
    color: var(--primary-color);
}

footer .install .row img{
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    cursor: pointer;
}

footer .install img {
    margin: 10px 0 15px 
}

footer .copyright{
    text-align: center;
    width: 100%;
    text-decoration: underline;
}