#img-slider{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#img-slider .slide img{
    object-fit: cover;
    width: 100vw;
    height: 90vh;
    object-position: top right;
    position: relative;
}

#img-slider .slide .info{
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10%;
}

.select-none{
    user-select: none;
}

#img-slider .slide .info h4{
    padding-bottom: 15px;

}

#img-slider .slide .info h1{
    color: var(--primary-color);
}

#img-slider .slide .info button{
    background: url(img/button\ \(1\).png);
    background-color: transparent;
    color: var(--primary-color);
    border: 0;
    padding: 14px 80px 14px 65px;
    font-size: 15px;
    font-weight: 700;
}
