#banner{
    background-image: url(../img/banner/b2.jpg);
    height: 40vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#banner h4{
    color: white;
    font-size: 16px;
}

#banner h2{
    color: white;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: #ef3636;
}

#banner .normal:hover{
    background-color: var(--primary-color);
    color: #fff;
}


h1 {
    font-size: 3.125rem;
    line-height: 4rem;
    color: #222;
  }
  
  h2 {
    font-size: 2.875rem;
    line-height: 3.375rem;
    color: #222;
  }
  
  h4 {
    font-size: 1.5rem;
    color: #222;
  }
  
  h6 {
    font-weight: 700;
    font-size: 12px;
  }
  
  p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
  }
  
  a {
    text-decoration: none;
  }
  
  .section-p1 {
    padding: 40px 80px;
  }
  
  .section-m1 {
    margin: 40px 0;
  }
  